*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    background-image:linear-gradient(to right , rgba(0, 0, 0, 0.607) , rgba(0, 0, 0, 0.507)) , url(images/pic3.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
/* Navigation bar */
.container1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}
.container1 .logo{
    color: white;
    border-bottom:1px solid #88d200;
}
.container1 .logo:hover{
    cursor: pointer;
}
.container1 nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.container1 nav ul a{
    text-decoration: none;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.871);
    font-size: 15px;
}
.container1 nav ul a:hover{
    color: white;
}
.container1 .menu .active a{
    color: white;
}
/* Front page */
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 90px 0 90px 0;
}
.sub-container2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding:10px 0 10px 0 ;
}
.container2 .sub-container2 p{
    padding:20px 0 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
}
.container2 .sub-container2 .para2{
    padding:20px 0 45px 0;
} 
.container2 .sub-container2 h1{
    padding: 7px 0;
    font-size: 40px;
    color: #88d200;
}
.container2 .sub-container2 button{
    border:none;
    background-color: #88d200;
    color: rgb(255, 255, 255);
    padding: 14px 26px;
    transition: all 0.3s linear 0s;
}
.container2 .sub-container2 button:hover{
    color:#88d200 ;
    background-color:rgba(245, 222, 179, 0) ;
    outline: 2px solid #88d200;
    cursor: pointer;
}
/* Media query from 800px to infinity */
@media only screen and (min-width:800px){
    .container1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 20px 0;
    }
    .container1 nav ul a{
        font-size: 18px;
    }
    .container2{
        width: 100%;
        height: auto;
        padding: 90px 0 90px 0;
    }
    .sub-container2{
        width: 72%;
        height: auto;
        padding:20px 0 20px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 5px 0;
        text-align: justify;
    }
    .container2 .sub-container2 .para2{
        padding:30px 0 40px 0;
    } 
    .container2 .sub-container2 h1{
        padding: 7px 0;
        font-size: 45px;
        text-align: center;
    }
    
}
/* Media query from 500px to 800px */
@media only screen and (min-width:500px) and (max-width:800px){
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 10px 0;
    }
    .container1 nav ul a{
        font-size: 17px;
    }
    .container2{
        width: 100%;
        height: auto;
        padding: 60px 0 50px 0;
    }
    .sub-container2{
        width: 70%;
        height: auto;
        padding:5px 0 10px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 4px 0;
        text-align: justify;
    }
    .container2 .sub-container2 .para2{
        padding:20px 0 40px 0;
    } 
    .container2 .sub-container2 h1{
        padding: 7px 0;
        font-size: 40px;
        text-align: center;
    }
    
}
/* Media query from 300px to 500px */
@media only screen and (min-width:300px) and (max-width:500px){
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 10px 0;
    }
    .container1 nav ul a{
        font-size: 11px;
    }
    .container2{
        width: 100%;
        height: auto;
        padding: 60px 0 50px 0;
    }
    .sub-container2{
        width: 90%;
        height: auto;
        padding:5px 0 10px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 4px 0;
        text-align: justify;
        font-size: 15px;
    }
    .container2 .sub-container2 .para2{
        padding:20px 0 40px 0;
    } 
    .container2 .sub-container2 h1{
        padding: 7px 0;
        font-size: 35px;
        text-align: center;
    }
    .container2 .sub-container2 button{
        padding: 16px 50px;
    }   
}