*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    background-image:linear-gradient(to right , rgba(0, 0, 0, 0.607) , rgba(0, 0, 0, 0.507)) , url(images/pic3.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
/* Navigation bar */
.container1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px 0;
}
.container1 .logo{
    color: white;
    border-bottom:1px solid #88d200;
}
.container1 .logo:hover{
    cursor: pointer;
}
.container1 nav ul{
    display:flex;
    flex-direction: row;
    list-style: none;
}
.container1 nav ul a{
    text-decoration: none;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.871);
    font-size: 15px;
}
.container1 nav ul a:hover{
    color: white;
}
.container1 .menu .active a{
    color: white;
}
/* Front page */
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 90px 0 90px 0;
}
.sub-container2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    padding:10px 0 10px 0 ;
}
.container2 .sub-container2 p{
    padding:20px 0 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
}
.container2 .sub-container2 .para2{
    padding:20px 0 45px 0;
} 
.container2 .sub-container2 h1{
    padding: 7px 0;
    font-size: 40px;
    color: #88d200;
}
.container2 .sub-container2 button{
    border:none;
    background-color: #88d200;
    color: rgb(255, 255, 255);
    padding: 14px 26px;
    transition: all 0.3s linear 0s;
}
.container2 .sub-container2 button:hover{
    color:#88d200 ;
    background-color:rgba(245, 222, 179, 0) ;
    outline: 2px solid #88d200;
    cursor: pointer;
}
/* Our services */
.container3{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px 0 70px 0;
}
.container3 h1{
    padding: 30px 0 5px 0;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #88d200;
}
.container3 .services{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    padding: 10px 0 0 0;
}
.container3 .services .sub1{
    padding: 20px 10px;
    display: flex;
    width: 26%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0 15px;
    background-color:rgba(128, 128, 128, 0.063);
}
.container3 .services .sub1 .pp1{
    font-size:13.3px;
    padding: 5px 0 2px 0;
    color: rgba(0, 0, 0, 0.698);
} 
.container3 .services .sub1 .pp2{
    font-size:13.3px;
    color: rgba(0, 0, 0, 0.698);
} 
.container3 .services .sub1 h2{
    font-size:19px;
    color: #88d200;
    padding: 12px 0;
    
}
.container3 .services .sub1 .icon{
    font-size:45px;
    color: #89d200ba;
}
/*my aim */
.container4{
   width: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
   padding: 90px 0 ;
}
.container4 div{
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container4 .headingg{
    width: 50%;
    font-size: 33px;
    color: rgba(0, 0, 0, 0.518);
    text-align: end;
    padding: 0 10px 0 0;
}
.container4 .headingg b{
    color:rgba(0, 0, 0, 0.896);
}
.container4 .paragraph{
    width:50%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.624);
    padding: 0 0 0 10px;
}

/* Media query from 800px to infinity */
@media only screen and (min-width:800px){
    .container1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 20px 0;
    }
    .container1 nav ul a{
        font-size: 17px;
    }
    .container2{
        width: 100%;
        height: auto;
        padding: 90px 0 90px 0;
    }
    .sub-container2{
        width: 72%;
        height: auto;
        padding:20px 0 20px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 5px 0;
        text-align: justify;
    }
    .container2 .sub-container2 .para2{
        padding:30px 0 40px 0;
    } 
    .container2 .sub-container2 h1{
        padding: 7px 0;
        font-size: 45px;
        text-align: center;
    }
    
}
/* Media query from 500px to 800px */
@media only screen and (min-width:500px) and (max-width:800px){ 
                                         /* navigation bar */
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 10px 0;
    }
    .container1 nav ul a{
        font-size: 17px;
    }
                                                     /* front pic */
    .container2{
        width: 100%;
        height: auto;
        padding: 60px 0 50px 0;
    }
    .sub-container2{
        width: 90%;
        height: auto;
        padding:5px 0 10px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 4px 0;
        text-align: justify;
    }
    .container2 .sub-container2 .para2{
        padding:30px 0 40px 0;
        font-size: 19px;
    } 
    .container2 .sub-container2 h1{
        padding: 10px 0 0 0;
        font-size: 44px;
        text-align: center;
    }
    .container2 .sub-container2 button{
        padding: 20px 60px;
        font-size: 17px;
    }   
                                /* services */
    .container3{
        padding: 20px 0 20px 0;
    }
    .container3 h1{
        padding: 35px 0 0 0;
        font-size: 40px;
        border-bottom: 1px solid #88d200;
    }
    .container3 .services{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .container3 .services .sub1{
        padding:10px 0px;
        display: flex;
        width: 80%;
        flex-direction: column;
        margin: 15px 0;
        background-color:rgba(128, 128, 128, 0);
    }
    .container3 .services .sub1 .pp1{
        font-size:18px;
        padding: 5px 0 2px 0;
        color: rgba(0, 0, 0, 0.698);
    } 
    .container3 .services .sub1 .pp2{
        font-size:15px;
        color: rgba(0, 0, 0, 0.698);
    } 
    .container3 .services .sub1 h2{
        font-size:29px;
        color: #88d200;
        padding: 10px 0;
    }
    .container3 .services .sub1 .icon{
        font-size:85px;
        color: #89d200ba;
    }
                                               /*my aim */
.container4{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0 ;
 }
 .container4 div{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items: center;
 }
 .container4 .headingg{
     width: 95%;
     font-size: 37px;
     text-align: center;
 }
 .container4 .paragraph{
     width:95%;
     font-size: 17px;
     color: rgba(0, 0, 0, 0.624);
     padding: 30px 0 0 0;
 }
     
}
/* Media query from 300px to 500px */
@media only screen and (min-width:300px) and (max-width:500px){
                                            
    .main{
        background-image:linear-gradient(to top ,#89d2005e , rgba(0, 0, 0, 0.678));
    }    
                                                    /* navigation menu */
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container1 .menu{
        padding: 30px 0 10px 0;
    }
    .container1 nav ul a{
        font-size: 12px;
        padding: 10px 10px;
    }
                                                    /* front pic */
    .container2{
        width: 100%;
        height: auto;
        padding: 60px 0 50px 0;
    }
    .container2 .sub-container2 h1{
        font-size: 45px;
    }
    .sub-container2{
        width: 93%;
        height: auto;
        padding:5px 0 10px 0 ;
    }
    .container2 .sub-container2 p{
        padding:10px 0 4px 0;
        text-align: justify;
        font-size: 18px;
    }
    .container2 .sub-container2 .para1{
        font-size: 13px;
    }
    .container2 .sub-container2 .para2{
        padding:20px 0 40px 0;
    } 
    .container2 .sub-container2 h1{
        padding: 7px 0;
        font-size: 40px;
        text-align: center;
    }
    .container2 .sub-container2 button{
        padding: 20px 60px;
        font-size: 15px;
    }   
                                                  /* services */ 
    .container3{
        padding: 30px 0 20px 0;
    }
    .container3 h1{
        padding: 35px 0 0 0;
        font-size: 35px;
        border-bottom: 1px solid #88d200;
    }
    .container3 .services{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container3 .services .sub1{
        padding:20px 0px;
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 17px 0;
        background-color:rgba(128, 128, 128, 0.063)
    }
    .container3 .services .sub1 .pp1{
        font-size:15px;
        padding: 8px 0 3px 0;
        color: rgba(0, 0, 0, 0.698);
    } 
    .container3 .services .sub1 .pp2{
        font-size:14px;
        color: rgba(0, 0, 0, 0.698);
    } 
    .container3 .services .sub1 h2{
        font-size:25px;
        color: #88d200;
        padding: 15px 0;
    }
    .container3 .services .sub1 .icon{
        font-size:70px;
        color: #89d200ba;
    }
                                                     /* my aim */
    .container4{
         padding: 65px 0 ;
     }
     .container4 div{
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content:center;
         align-items: center;
     }
     .container4 .headingg{
         width: 95%;
         font-size: 30px;
         text-align: center;
     }
     .container4 .paragraph{
         width:95%;
         font-size: 16px;
         color: rgba(0, 0, 0, 0.624);
         padding: 20px 0 0 0;
         text-align: center;
     }
    
}